*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
  color: #222;
}

h1, h2, h3,
h4, h5, h6,
ul, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.hidden {
  display: none;
}

/* ================
      Header
================== */
header {
  margin-bottom: 10px;
  padding: 0.6rem 6rem;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 4rem;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.searchbar {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: 10px;
}

.searchbar input{
  border: 1px solid lightgray;
  padding: 5px 16px;
}

/* ================
        Nav
================== */
nav ul {
  list-style: none;
  color: #666;
}

nav li {
  padding: 0 10px;
  display: inline-block;
  border-right: 1px solid #888;
}

nav li:last-child {
  border: none;
}

nav a:hover {
  text-decoration: underline;
  color: #222;
}

/* ================
     Categories
================== */
.categories {
  padding: 0 20px;
  max-height: 0;
  transition: all 0.3s ease-in; /* change ease*/
  overflow: hidden;
  background-color: #fff;
}
.categories ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 5px;
  list-style: none;
}

.categories a:hover {
  text-decoration: underline;
}

.categories.open {
  padding: 10px 20px;
  max-height: 300px;
}

/* ================
      Containers
================== */
.hero {
  margin: 10px auto;
  padding: 20px;
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  text-align: center;
}
.hero form {
  margin: 20px 0;
}
.hero [type='text'] {
  width: 33%;
}

.container {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.container h3 {
  padding: 10px;
}

.video-list {
  display: grid;
  grid-template-columns: 1fr;
}

.video-list > * {
  border-top: 1px solid #ddd;
}

/* ================
    Video Card
================== */
.video-card {
  display: grid;
}

.video-card img {
  width: 100%;
}

.video-card h3 {
  padding: 4px 0;
  font-weight: 700;
}

.video-card-info {
  font-size: 0.8rem;
  color: #666;
}

.video-card-info a:hover {
  color: #333;
}

.video-card-description {
  margin-top: 8px;
}

.md {
  padding: 10px 0;
  grid-template-columns: 246px 1fr;
  grid-gap: 16px;
}

.sm {
  margin: 0 8px;
  padding: 8px;
  grid-template-columns: 168px 1fr;
  grid-gap: 10px;
}

.sm h3 {
  font-size: 0.9rem;
}

/* ================
   Search Results
================== */
.search-results {
  margin: 10px auto;
  padding: 10px 20px;
  max-width: 900px;
}

.search-results-info {
  margin-left: 10px;
  font-weight: 300;
  font-size: 0.9rem;
  color: #888;
}

.empty-search {
  min-height: 250px;
  line-height: 250px;
  color: #888;
  text-align: center;
  font-size: 1.5rem;
}

/* ================
   Video Details
================== */
.details-wrapper {
  margin: 10px;
  display: grid;
  grid-template-columns: minmax(640px, 2fr) 1fr;
  grid-gap: 10px;
}

.video-player {
  margin-bottom: 10px;
  background: #000;
  width: 100%;
  min-height: 360px;
}

.video-player iframe {
  display: block;
  margin: 0 auto;
}

.video-details {
  padding: 0 1rem;
}

.video-details > * {
  padding: 1rem 0;
}

.video-details-header {
  font-size: 0.9rem;
}

.video-details-header h2 {
  font-weight: 500;
}

.video-details-header p {
  color: #666;
}

.video-details-info {
  border-top: 1px solid #ccc;
}

.video-details-info a {
  font-weight: 700;
}

.video-details-info .description {
  padding-top: 10px;
}

.video-details-info .date {
  color: #666;
  font-size: 0.85rem;
}

/* ================
     Page List
================== */
.page-list ul {
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  color: #888;
}

.page-list li {
  display: inline-block;
  padding: 0 2px;
}

.page-list p {
  color: #333;
  font-weight: 700;
}

.page-list a:hover {
  color: #666;
  text-decoration: underline;
}

/* ================
      Footer
================== */
footer {
  margin-top: 30px;
  padding: 6px;
  font-size: 0.7rem;
  background-color: #fff;
  color: #aaa;
  text-align: center;
}

footer a:hover {
  color: #888;
}

/* ================
      Errors
================== */
.error-dialog {
  padding: 20px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid red;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  color: red;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .details-wrapper {
    grid-template-columns: 1fr;
  }
}