*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
  color: #222;
}

h1, h2, h3,
h4, h5, h6,
ul, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.hidden {
  display: none;
}

:root {
  --main-color: #33d3b8;
  --main-color-light: #a8eee2;
  --main-color-dark: #2bb19a;
}

/* ================
      Header
================== */
header {
  margin-bottom: 10px;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 1rem 2rem;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.logo {
  width: 100%;
}

.logo span {
  color: var(--main-color);
}

.searchbar {
  display: grid;
  grid-template-columns: 1fr 70px;
}

.searchbar > * {
  border: 1px solid lightgray;
  padding: 5px 16px;
}

#search-text {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#submit-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  color: var(--main-color);
  border-left: none;
}

#submit-btn:hover {
  background-color: var(--main-color);
  color: #fff;
}

#submit-btn:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: default;
}

.browse-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.browse-menu button {
  padding: 4px 8px;
  background-color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 2px;
}

.browse-menu button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.browse-menu button:active {
  background-color: var(--main-color-dark) !important;
}

.browse-menu button.active {
  background-color: var(--main-color);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/* ================
     Categories
================== */
.categories {
  padding: 0 20px;
  max-height: 0;
  transition: all 0.3s ease-in-out; /* change ease*/
  overflow: hidden;
  background-color: #fff;
}
.categories ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.categories li {
  padding: 3px 12px;
  border-right: 1px solid #ccc;
  margin-right: 12px;
}

.categories li:nth-child(4),
.categories li:nth-child(8),
.categories li:nth-child(12) {
  border-right: none;
}

.categories a:hover {
  color: var(--main-color-dark);
  text-decoration: underline;
}

.categories.open {
  padding: 10px 20px;
  max-height: 300px;
}

/* ================
      Containers
================== */
.hero {
  margin: 10px auto;
  padding: 20px;
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  text-align: center;
}
.hero form {
  margin: 20px 0;
}

.container {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.container h3 {
  padding: 10px;
}

.video-list {
  display: grid;
  grid-template-columns: 1fr;
}

.video-list > * {
  border-top: 1px solid #ddd;
}

/* ================
    Video Card
================== */
.video-card {
  display: grid;
}

.video-card img {
  max-width: 100%;
  display: block;
  height: auto;
}

.video-card h3 {
  padding: 4px 0;
  font-weight: 700;
}

.video-card-info {
  font-size: 0.8rem;
  color: #666;
}

.video-card-info a:hover {
  color: #333;
}

.video-card-description {
  margin-top: 8px;
}
.video-card-thumbnail {
  position: relative;
  max-height: 140px;
  min-height: 68px;
}

.video-card-duration {
  margin: 4px;
  padding: 2px 4px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: rgba(22, 22, 22, 0.7);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
}

.md {
  max-height: 160px;
  padding: 10px 0;
  grid-template-columns: minmax(120px, 1fr) 3fr;
  grid-gap: 16px;
  overflow: hidden;
}

.sm {
  margin: 0 8px;
  padding: 8px;
  grid-template-columns: 168px 1fr;
  grid-gap: 10px;
}

.sm h3 {
  font-size: 0.9rem;
}

/* ================
   Search Results
================== */
.search-results {
  margin: 10px auto;
  padding: 10px 20px;
  max-width: 900px;
}

.search-results-info {
  margin-left: 10px;
  font-weight: 300;
  font-size: 0.9rem;
  color: #888;
}

.empty-search {
  min-height: 250px;
  line-height: 250px;
  color: #888;
  text-align: center;
  font-size: 1.5rem;
}

/* ================
   Video Details
================== */
.details-wrapper {
  margin: 10px;
  display: grid;
  grid-template-columns: minmax(640px, 2fr) 1fr;
  grid-gap: 10px;
}

.video-player {
  position: relative;
  margin-bottom: 10px;
  background: #000;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-details {
  padding: 0 1rem;
}

.video-details > * {
  padding: 1rem 0;
}

.video-details-header {
  font-size: 0.9rem;
}

.video-details-header h2 {
  font-weight: 500;
}

.video-details-header p {
  color: #666;
}

.video-details-info {
  border-top: 1px solid #ccc;
}

.video-details-info a {
  font-weight: 700;
}

.video-details-info a:hover {
  color: var(--main-color-dark);
}

.video-details-info .description {
  padding-top: 10px;
  padding-bottom: 40px;
}

.video-details-info .date {
  color: #666;
  font-size: 0.85rem;
}

.likes-details {
  margin: 8px;
  width: 160px;
  float: right;
}

.likes-details ul {
  margin: 6px 4px;
  position: relative;
  font-size: 0.8rem;
  color: #666;
}

.likes-details li {
  position: absolute;
  display: inline-block;
}

.likes-details li:last-child {
  right: 0;
}

#likes-bar {
  height: 5px;
  width: 100%;
  background-color: #ccc;
}

#likes-ratio {
  background-color: var(--main-color);
  height: 100%;
}

/* ================
     Page List
================== */
.page-list {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #888;
}

.page-list > * {
  padding: 10px;
}

.page-list a:hover {
  background-color: var(--main-color-light);
}

.current-page {
  color: var(--main-color-dark);
  font-weight: 700;
}

.page-list .disabled {
  background-color: #f0f0f0;
  color: #ccc;
}

section {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* ================
      Footer
================== */
footer {
  margin-top: 30px;
  padding: 6px;
  font-size: 0.7rem;
  background-color: #fff;
  color: #aaa;
  text-align: center;
}

footer a:hover {
  color: var(--main-color-dark);
}

/* ================
      About
================== */
.about {
  position: absolute;
  top: 6rem;
  margin: 0 40px;
  padding: 0 20px;
  max-height: 0;
  background-color: #fff;
  box-shadow: 0 0 0 0 #2bb19b00;
  border-radius: 2px;
  overflow: hidden;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

.about h2 {
  padding-bottom: 0.5rem;
}

.about p {
  padding-bottom: 1rem;
}

.about.open {
  padding: 20px;
  max-height: 30rem;
  box-shadow: 0 0 0 16px #2bb19bd0;
  overflow-y: auto;
}

#close-about-btn {
  margin: -8px;
  float: right;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

#close-about-btn:hover {
  color: var(--main-color-dark);
}

.credit {
  font-size: 0.8rem;
  color: #666;
}

.about a {
  color: var(--main-color-dark);
}

.about a:hover {
  color: var(--main-color);
}

/* ================
      Errors
================== */
.error-dialog {
  padding: 20px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid red;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  color: red;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .logo {
    text-align: left;
    padding: 2px 8px;
  }

  .details-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  header {
    grid-template-columns: 1fr;
    justify-content: flex-end;
  }

  header > * {
    display: flex;
    justify-content: center;
  }

  .search-results {
    padding: 5px 10px;
    max-width: 600px;
  }
}